/* Styles specific to this workshop
------------------------------------*/
body {
  background: #F3F4F4;
}

.intro li, .last li {
  margin-bottom: 0;
}

li {
  margin-bottom: 1em;
}

/* Grid system */
.col {
  float: left;
  padding: 0 30px;
  height: 100%;
}

.col--one-half {
  width: 50%;
}

.col--one-quarter {
  width: 25%;
}

.col--three-quarters {
  width: 75%;
}

.contain--img {
  max-height: 100%;
  width: auto !important;
}

.center {
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

.w100 {
  width: 100% !important;
}

.w50 {
  width: 50%;
}

.bg--white {
  background: white;
}

.local-shops, .big-brands, .beaker-panic, .no-idea {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.local-shops {
  background-image: url("../img/workshop/local-shops.png");
}

.big-brands {
  background-image: url("../img/workshop/big-brands.png");
}

.beaker-panic {
  background-image: url("../img/workshop/beaker-panic.jpg");
}

.no-idea {
  background-image: url("../img/workshop/no-idea.gif");
}
