@import "variables";
@import "mixins";

$base-font-size: 27px;
$footer-font-size: 20px;

/* Styles specific to this workshop
------------------------------------*/
body{
  background: #F3F4F4;
}

h2{
  margin-bottom: 0.5em;
}

//Fix
.intro, .last {
  li{
    margin-bottom: 0;
  }
}

p{
  font-size: $base-font-size;
  line-height: 1.6em;
  margin-top: 0;

  footer & {
    font-size: $footer-font-size;
  }
}

li{
  font-size: $base-font-size;
  margin-bottom: 1em;

  footer & {
    font-size: $footer-font-size;
  }
}

code{
  font-size: ($base-font-size - 3);
}

/* Grid system */

.col{
  float: left;
  padding: 0 30px;
  height: 100%;
}
.col--one-half{
  width: 50%;
}

.col--one-quarter{
  width: 25%;
}

.col--three-quarters{
  width: 75%;
}

// Helper classes
.contain--img{
  max-height: 100%;
  width: auto !important;
}

.center{
  margin: 0 auto;
  display: block;
}

.text-center{
  text-align: center;
}

.w100{
  width: 100% !important;
}

.w50{
  width: 50%;
}

.bg--white{
  background: white;
}

%bg-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}


// Slides
.local-shops{
  background-image: url('../img/workshop/local-shops.png');
  @extend %bg-img;
}

.big-brands{
  background-image: url('../img/workshop/big-brands-2.png');
  @extend %bg-img;
}
.beaker-panic{
  background-image: url('../img/workshop/beaker-panic.jpg');
  @extend %bg-img;
}

.no-idea{
    background-image: url('../img/workshop/no-idea.gif');
  @extend %bg-img;
}

